h1,
.titulo-nombre {
    color: whitesmoke !important;
    font-size: 50px;
}

.botonera {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botonera a {
    color: white !important;
    text-decoration: none;
}

#cabecera {
    background-color: black !important;
    width: auto;
    height: auto;
    margin: 0% auto;
    height: auto;
    border-radius: 16px;
    padding: 40px 50px;
    box-sizing: border-box;
}

#cabecera p,
contacto-item {
    color: white !important;
}

@font-face {
    font-family: "montserrat r";
    src: url(fonts/Montserrat-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserrat b";
    src: url(fonts/Montserrat-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "montserrat sb";
    src: url(fonts/Montserrat-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: 'montserrat', sans-serif;
}

h1 {
    font-family: 'montserrat b', sans-serif;
    text-align: start;
    line-height: 0.9;
    margin-bottom: 8px;
}

h2 {
    font-family: 'montserrat b', sans-serif;
    text-align: start;
    font-size: 18px;
}

h3 {
    line-height: 3rem;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 12px;
    font-family: 'montserrat b', sans-serif;
}

h4 {
    font-size: 18px;
    font-family: 'montserrat b', sans-serif;
    text-align: start;
}

h5 {
    font-size: 18px;
    font-family: 'montserrat b', sans-serif;
    text-align: start;
}

p {
    text-wrap-style: balance;
    font-size: 16px;
    line-height: 1.6p;
    margin-bottom: 20px;
}

.contacto-item {
    color: white !important;
}

body {
    background-color: whitesmoke;
}

main {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}

footer {
    background-color: black;
    width: 100% !important;
    padding: 25px 20px !important;
    margin-top: 40px !important; 
    display: block !important;  
    box-sizing: border-box !important;
    border-radius: 16px;
}

footer p {
    color: white;
    margin: 0 !important; 
    text-align: center;
    font-size: 14px;
}

